<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Ac1</title>

    <!--Copyright © 2022 Mateus Felipe da Silveira Vieira-->

    <!--
        Este arquivo é parte do programa Ing-blog

        Ing-blog é um software livre; você pode redistribuí-lo e/ou
        modificá-lo dentro dos termos da Licença Pública Geral GNU como
        publicada pela Free Software Foundation (FSF); na versão 3 da
        Licença, ou (a seu critério) qualquer versão posterior.

        Este programa é distribuído na esperança de que possa ser útil,
        mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
        a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
        Licença Pública Geral GNU para maiores detalhes.

        Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
        com este programa, Se não, veja <http://www.gnu.org/licenses/>.
        
    -->

    <!--Reset-->
    <link rel="stylesheet" href="/CSS/reset.css">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!--Style.css-->
    <link rel="stylesheet" href="/CSS/style.css">
    
</head>
<body>

  <ul class="nav nav-tabs bg-light justify-content-center align-items-center mb-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/"> <img class="rounded-circle chavinha2" src="/IMG/chave-de-fenda.png" alt="(my avatar)"></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Top Articles</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/ac1">The Impact of Technologies in the Interpersonal relations</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/habdig7oficial/ing-blog.git">Get the Source</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://www.gnu.org/">Know GNU </a>
    </li>
  </ul>

  <h1 class="text-center text-light">The Impact of Technologies in the Interpersonal relations</h1>

  <p class="text-light t-p m-5 p-5 lh-lg">In the 21st century the innovation in technologies is quickly than ever, and this has a lot of all kinds of impacts in our interpersonal relations. Because of that is necessary re-adapt ourselves for deal with that.
    <br>
    All peoples have good stories about that, if I need to say the most funny situation that happened with my friends I choose the classical of the microphone on in the wrong time. In reality this happen more times than expected, but in the wrong time and if what is said is strange is simply a laugh guaranteed.
    <br>
    Just imagine in a common class with only the “sor” talking and every one paying attention, when nobody expected, someone say “Mãe tem pão?”. Our luck was that our microphones were of, so she can’t listen our laugh.</p>

    <h2 class="text-light ms-1"><span class="fira_code">-></span> Get this text in another formats</h2>

    <div class="d-flex m-5 ps-2 align-items-center">
    <ul class="list-group">
      <li class="list-group-item bg-transparent border-light border"><a class="caz anorm" href="https://github.com/habdig7oficial/ing-blog/blob/master/views/Ac1.ejs"> <img class="me-1" src="/IMG/filetype-html.svg" alt="HTMl ilustrative image">Source Code (HTML)</a></li>
      <li class="list-group-item bg-transparent border-light border"><a class="caz anorm" href="/DOCS/text-otd-ac1.odt" download=""> <img class="me-1" src="/IMG/file-earmark-text-fill.svg" alt="ODF ilustrative image">OTD format (editable)</a></li> 
      <li class="list-group-item bg-transparent border-light border"><a class="caz anorm" href="/DOCS/text-otd-pdf.odt" download=""><img class="me-1" src="/IMG/file-earmark-pdf-fill.svg" alt="PDF ilustrative image">PDF format (non-editable)</a></li>

    </ul>
    </div>

    <a class="fs-6 ms-2 caz anorm" href="/"><span class="fira_code"><-</span> Back to home</a>
  


    <div class="bg-light">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-light">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img class="rounded-circle chavinha" src="/IMG/chave-de-fenda.png" alt="(my avatar)">
              </a>
              <span class="text-muted fs-4">Copyright © 2022 Mateus Felipe da Silveira Vieira</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-decoration-none">
              <li class="m-3 p-2"><a class="text-muted text-decoration-none " href="https://github.com/habdig7oficial/ing-blog.git"><img class="logos " src="/IMG/github.svg" alt="git hub logo"> habdig7oficial</a></li>
              <li class="m-3 p-2"><a class="text-muted text-decoration-none " href="mailto:habdig7@gmail.com"><img class="logos " src="/IMG/envelope-fill.svg" alt="git hub logo"> habdig7@gmail.com</a></li>
            </ul>
    
    
    
          </footer>
    
    
          <div class="d-flex justify-content-center flex-column align-items-center">
            <h1 class="t-p"> Warning </h1>
  
            <p class="m-5 fs-5  t-p lh-lg">
              
              This file is part of Ing-blog.
              <br>
              Ing-blog is free software: you can redistribute it and/or modify
              it under the terms of the GNU General Public License as published by
              the Free Software Foundation, either version 3 of the License, or
              any later version.
              <br>
              Ing-blog is distributed in the hope that it will be useful,
              but WITHOUT ANY WARRANTY; without even the implied warranty of
              MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
              GNU General Public License for more details.
              <br>
              You should have received a copy of the GNU General Public License
              along with Ing-blog (COPYING).  If not, see  <a href="http://www.gnu.org/licenses">http://www.gnu.org/licenses </a>.
            </p>
  
            <h2 class="text-center">Assets License</h2>
  
            <p class="fs-5 m-4">
              <a href="https://www.gnome-look.org/p/1423424">Gnome Desktop Wallpaper 360 4K HD </a>- made by <a href="https://www.gnome-look.org/u/charlie-henson">charlie-henson</a>
              , distributed with Creative Commons Attribution <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>, disponible in <a href="https://www.gnome-look.org/p/1423424">Gnome Look</a>
            </p>
  
            <a class="fs-5 m-4" href="https://br.freepik.com/vetores-gratis/ilustracao-de-suporte-ao-cliente-plano-organico_13184987.htm"> Ilustração de suporte ao cliente plano orgânico Vetor grátis vetor criado por freepik - br.freepik.com</a>
    
        </div>
</body>
</html>