/*Copyright © 2022 Mateus Felipe da Silveira Vieira*/

/*

Este arquivo é parte do programa Ing-blog

Ing-blog é um software livre; você pode redistribuí-lo e/ou
modificá-lo dentro dos termos da Licença Pública Geral GNU como
publicada pela Free Software Foundation (FSF); na versão 3 da
Licença, ou (a seu critério) qualquer versão posterior.

Este programa é distribuído na esperança de que possa ser útil,
mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
Licença Pública Geral GNU para maiores detalhes.

Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
com este programa, Se não, veja <http://www.gnu.org/licenses/>.

*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
    --azul:rgb(97, 111, 242);
    --azul_var1:rgb(152, 223, 234);
    --azul_var2:rgb(85, 250, 239);
    --azul_var3:rgb(61, 252, 240);


    --branco:rgb(255, 255, 255)
}

::selection{
    background-color: var(--azul);
    color: var(--branco);
}

body{
    background-image: url(../IMG/4K\ No\ Logo\ G360.png);
    overflow-x: hidden;
}

.anorm:hover{
    color: var(--azul_var1);
    animation: aani 2s infinite;
}

.fira_code{
    font-family: 'Fira Code', monospace;
}

.caz{
    color: var(--azul_var1);
}

.flex-p{
    flex-direction: row;
}

.fs-p{
    font-size: calc(1.3rem + .6vw) ;
}

.exm{
    animation: rotate 10s infinite;

    width: 40rem;




}

.logos{
    width: 3rem;
}

.chavinha{
    width: 6rem;
}

.chavinha2{
    width: 3rem;
}

.ind{

}

.font-all {
    font-size: 8rem;
}

.t-p{
    text-align: justify;
}

@media (max-width:1059px) {
    .flex-p{
        flex-direction: column;
    }

    .exm{
        width: 45vw;
    }

    .fs-p{
        font-size: 5vw;
        padding: 4rem;
    }
}

@media (max-width:484px) {

    .mlh{
        border: none !important;
    }
}

@keyframes aani {
    0%,100%{
        text-shadow: none;
        color: var(--azul_var2);
      }
    
      50%{
    
        text-shadow:       
        0 0 7px   var(--azul_var3),
        0 0 10px  var(--azul_var3),
        0 0 21px  var(--azul_var3),
        0 0 42px  var(--azul_var2),
        0 0 82px  var(--azul_var2),
        0 0 92px  var(--azul_var2),
        0 0 102px var(--azul_var2),
        0 0 151px var(--azul_var2);
      }
}


@keyframes rotate {
    0%,100%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-15deg);
    }
}